<main>
  <section *ngIf="productList">
    <!-- Product 1 -->
    <div *ngFor="let p of productList" class="product-card">
      <div class="placeholder">
        <img src="{{ p.productImage }}">
        {{ p.productName }}
        {{ p.productPrice }}
      </div>
      <div class="product-buttons">
        <button type="button" (click)="addToCart(p)" >BUY</button>
        <button type="button" (click)="toggleDetails()">DETAILS
          <!-- <a routerLink=":id" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">DETAILS</a> -->
        </button>
        <!-- <div [hidden]="!visible">
          <app-product-details (open)="hej($event)"></app-product-details>
        </div> -->
      </div>
    </div>
  </section>
</main>

