<main>
  <section *ngIf="productList">
    <!-- Product 1 -->
    <div *ngFor="let p of productList" class="product-card">
      <div class="placeholder">
        <img src="{{ p.productImage }}">
        {{ p.productName }}
        {{ p.productPrice }}
      </div>
      <div class="product-buttons">
        <button type="button" (click)="addToCart(p)" >BUY</button>
        <button type="button" (click)="toggleDetails(p)">DETAILS
          <!-- <app-product-details [id]="showDetails()"></app-product-details> -->
        </button>
      </div>
    </div>
  </section>
</main>

