main{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  section {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    h2 {
      align-self: center;
      margin-bottom:0px;
    }
    .product-card {
      border-top:2px solid black;
      padding-top:10px;
      display:flex;
      flex-direction: row;
      justify-content: center;
      margin:10px;
      width:60%;
      .placeholder {
        background-color:pink;
        img{
        max-width:100%;
        }
      }
      .extended-info {
        display:flex;
        flex-direction: column;
        justify-content: end;
        width:100%;
        span, .other-info {
          padding-left:10px;
        }
        .other-info {
          margin:0px;
          text-align: right;
          font-weight: bold;
          color:blueviolet;
        }
      }
      .product-buttons {
        width:100%;
        align-self: flex-end;
        button {
          width:100%;
          padding:8px;
          border:3px solid black;
          font-size: 1rem;
          font-weight: bold;
          background-color:rgb(243, 235, 245);
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

