<!-- shoppingcart visas dels som en egen komponent, och dels hämtas in i checkout? -->
<section>
  <div class="shoppingcart">
    <div class="cart-item">
      <div class="placeholder-cart">
        <img src="">
      </div>
      <div class="item-info">
        <h4>
          First item
        </h4>
        <span>
          First item info
        </span>
      </div>
    </div>
    <div class="cart-item">
      <div class="placeholder-cart">
        <img src="">
      </div>
      <div class="item-info">
        <h4>
          Second item
        </h4>
        <span>
          Second item info
        </span>
      </div>
    </div>
  </div>
</section>

