<!-- shoppingcart visas dels som en egen komponent, och dels hämtas in i checkout? -->
<!-- <main> -->
  <section *ngIf="cartItems">
    <div *ngFor="let movie of cartItems" class="shoppingcart">
      <div class="cart-item">
        <div class="placeholder">
          <img src="{{ movie.productImage }}">
        </div>
        <div class="item-info">
          <h4>
            {{ movie.productName }}
          </h4>
          <span>
            {{ movie.productPrice }} kr
          </span>
        </div>
        <div class="edit-item">
          <button>+</button>
          <button>-</button>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="cartItems.length === 0">
    <div class="shoppingcart">
      <div class="placeholder">
        <h4>Cart is empty!</h4>
      </div>
    </div>
  </section>
<!-- </main> -->
