nav {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top:20px;
  padding-bottom:20px;
  a {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color:black;
  }
}
